{
  "openapi": "3.1.0",
  "info": {
    "title": "Hunter-Seeker Agent Actions (curated)",
    "version": "2.0.0",
    "description": "Deterministic, signed, refusable decisions for agents. Agents may generate copy; they may not invent the score. Deprecation policy: a contract version is served for 12 months after its successor ships.",
    "contact": {
      "url": "https://hunter-seeker.net/for-agents"
    },
    "license": {
      "name": "Terms",
      "url": "https://hunter-seeker.net/terms"
    }
  },
  "servers": [
    {
      "url": "https://hunter-seeker.net/api"
    }
  ],
  "tags": [
    {
      "name": "orient"
    },
    {
      "name": "supply"
    },
    {
      "name": "run"
    },
    {
      "name": "interrogate"
    },
    {
      "name": "export"
    },
    {
      "name": "decide"
    },
    {
      "name": "prove"
    },
    {
      "name": "close"
    },
    {
      "name": "judge"
    },
    {
      "name": "explain"
    }
  ],
  "paths": {
    "/v1/rank-topk": {
      "post": {
        "operationId": "hs_rank_topk",
        "summary": "Discover the pattern and rank a table (one billed run). Add refit_of to refresh an analysis.",
        "tags": [
          "run"
        ],
        "x-hs-agent-action": true,
        "description": "Existing tool; schemas are exported from the product's MCP server (packages/mcp/scripts/export-tool-schemas.mts).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/hs_rank_topk_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hs_rank_topk_output"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score-entity": {
      "post": {
        "operationId": "hs_score_entity",
        "summary": "Score one entity at decision time",
        "description": "Costs ONE DECISION from your quota (never a run). Score ONE row against a scorecard the engine already fitted — use the model_ref that a cleared hs_rank_topk returned. Returns the calibrated score (0–1), an engine-authored band (act = certified likely; escalate = uncertain, ask a human; refuse = the engine will not vouch, with a reason), a max_autonomy hint (L0–L4: how much rope THIS decision earns), up to four principal_reasons (engine-ordered levers in the shape adverse-action rules require), and a SIGNED Verdict you can hand to a reviewer or verify with hs_verify_verdict. The score is byte-identical to what the originating run would have assigned this row: the scorecard is a cache of a deterministic fit, not a second model. Best for: 'should my agent act on this lead / account / ticket right now'. Not for: rows from a different table than the model_ref was fitted on (columns must match). Firewall: no thresholds, weights, or condition counts are returned — read band and principal_reasons, never try to reconstruct the rule. subject_kind 'person' REQUIRES acknowledge_decision_support: true and caps max_autonomy at L2 (L0 without a human principal). A refuse band bills nothing. Common mistakes: reusing an expired model_ref (404 model_ref_expired → re-run hs_rank_topk, do not retry); treating band as advice — it is a fact about likelihood; on an adverse outcome 'act' means likely to churn/default/fail, on a desirable one likely to convert/renew — read verdict.outcome.polarity.",
        "tags": [
          "decide"
        ],
        "x-hs-cost": "one_decision",
        "x-hs-agent-action": true,
        "x-mcp-annotations": {
          "title": "Score one entity at decision time",
          "readOnlyHint": true,
          "destructiveHint": false,
          "idempotentHint": true,
          "openWorldHint": false
        },
        "security": [
          {
            "bearer": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "model_ref": {
                    "type": "string",
                    "pattern": "^mr1_[0-9a-f]{32}$"
                  },
                  "row": {
                    "type": "object",
                    "description": "One entity's feature values, same columns as the fitted table."
                  },
                  "entity_id": {
                    "type": "string"
                  },
                  "subject_kind": {
                    "type": "string",
                    "enum": [
                      "person",
                      "org",
                      "object",
                      "event",
                      "other"
                    ]
                  },
                  "acknowledge_decision_support": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "model_ref",
                  "row",
                  "subject_kind"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "entity": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "entity_id": {
                          "type": "string"
                        },
                        "score": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "band": {
                          "type": "string",
                          "enum": [
                            "act",
                            "escalate",
                            "refuse"
                          ]
                        },
                        "band_reason": {
                          "type": "string",
                          "enum": [
                            "certified",
                            "uncertain",
                            "low_likelihood",
                            "no_clearance",
                            "validation_none",
                            "honest_empty"
                          ]
                        },
                        "max_autonomy": {
                          "type": "string",
                          "enum": [
                            "L0",
                            "L1",
                            "L2",
                            "L3",
                            "L4"
                          ]
                        },
                        "principal_reasons": {
                          "type": "array",
                          "maxItems": 4,
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "feature_label": {
                                "type": "string"
                              },
                              "direction": {
                                "type": "string",
                                "enum": [
                                  "increase",
                                  "decrease",
                                  "change"
                                ]
                              },
                              "magnitude": {
                                "type": "string",
                                "enum": [
                                  "substantial",
                                  "notable",
                                  "slight"
                                ]
                              },
                              "likelihood_direction": {
                                "type": "string",
                                "enum": [
                                  "lower",
                                  "higher",
                                  "unchanged"
                                ]
                              },
                              "association_not_causal": {
                                "type": "boolean",
                                "const": true
                              }
                            },
                            "required": [
                              "feature_label",
                              "direction",
                              "association_not_causal"
                            ]
                          }
                        }
                      },
                      "required": [
                        "entity_id",
                        "score",
                        "band",
                        "band_reason",
                        "max_autonomy",
                        "principal_reasons"
                      ]
                    },
                    "verdict": {
                      "$id": "https://hunter-seeker.net/schemas/verdict.json",
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "verdict_id": {
                          "type": "string"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "ranking",
                            "entity_score"
                          ]
                        },
                        "analysis_id": {
                          "type": "string",
                          "pattern": "^sk1_[0-9a-f]{32}$"
                        },
                        "model_ref": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "ranking_ref": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "engine_version": {
                          "type": "string"
                        },
                        "core_hash": {
                          "type": "string"
                        },
                        "contract_hash": {
                          "type": "string"
                        },
                        "tool_contract_version": {
                          "type": "string"
                        },
                        "dataset_content_hash": {
                          "type": "string"
                        },
                        "spec_hash": {
                          "type": "string"
                        },
                        "computed_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "issuer": {
                          "type": "string"
                        },
                        "on_behalf_of": {
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "principal_id": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "principal_type": {
                                  "type": "string",
                                  "enum": [
                                    "user",
                                    "service"
                                  ]
                                },
                                "source": {
                                  "type": "string",
                                  "enum": [
                                    "oauth",
                                    "obo",
                                    "key"
                                  ]
                                }
                              },
                              "required": [
                                "principal_id",
                                "principal_type",
                                "source"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "agent": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "client_id": {
                              "type": "string"
                            },
                            "key_id": {
                              "type": "string"
                            }
                          }
                        },
                        "outcome": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "column": {
                              "type": "string"
                            },
                            "polarity": {
                              "type": "string",
                              "enum": [
                                "adverse",
                                "desirable",
                                "neutral"
                              ]
                            }
                          },
                          "required": [
                            "column",
                            "polarity"
                          ]
                        },
                        "subject_kind": {
                          "type": "string",
                          "enum": [
                            "person",
                            "org",
                            "object",
                            "event",
                            "other"
                          ]
                        },
                        "acknowledge_decision_support": {
                          "type": "boolean"
                        },
                        "trust": {
                          "type": "object"
                        },
                        "entities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "entity_id": {
                                "type": "string"
                              },
                              "score": {
                                "type": "number"
                              },
                              "band": {
                                "type": "string",
                                "enum": [
                                  "act",
                                  "escalate",
                                  "refuse"
                                ]
                              },
                              "band_reason": {
                                "type": "string"
                              },
                              "max_autonomy": {
                                "type": "string",
                                "enum": [
                                  "L0",
                                  "L1",
                                  "L2",
                                  "L3",
                                  "L4"
                                ]
                              },
                              "principal_reasons": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "feature_label": {
                                      "type": "string"
                                    },
                                    "direction": {
                                      "type": "string",
                                      "enum": [
                                        "increase",
                                        "decrease",
                                        "change"
                                      ]
                                    },
                                    "magnitude": {
                                      "type": "string",
                                      "enum": [
                                        "substantial",
                                        "notable",
                                        "slight"
                                      ]
                                    },
                                    "likelihood_direction": {
                                      "type": "string",
                                      "enum": [
                                        "lower",
                                        "higher",
                                        "unchanged"
                                      ]
                                    },
                                    "association_not_causal": {
                                      "type": "boolean",
                                      "const": true
                                    }
                                  },
                                  "required": [
                                    "feature_label",
                                    "direction",
                                    "association_not_causal"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "entity_id",
                              "score",
                              "band",
                              "max_autonomy"
                            ]
                          }
                        },
                        "honest_empty": {
                          "oneOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "reasons": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          ]
                        },
                        "provenance_class": {
                          "type": "string",
                          "const": "finding"
                        }
                      },
                      "required": [
                        "verdict_id",
                        "kind",
                        "analysis_id",
                        "engine_version",
                        "core_hash",
                        "computed_at",
                        "expires_at",
                        "issuer",
                        "outcome",
                        "entities",
                        "provenance_class"
                      ]
                    },
                    "signature": {
                      "oneOf": [
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "protected": {
                              "type": "string"
                            },
                            "signature": {
                              "type": "string"
                            },
                            "kid": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "protected",
                            "signature"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billable_decisions": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "entity",
                    "verdict",
                    "signature",
                    "billable_decisions"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-verdict": {
      "post": {
        "operationId": "hs_verify_verdict",
        "summary": "Verify a Verdict's signature (keyless)",
        "description": "Free; no API key needed; no engine run. Check that a Verdict was issued by Hunter-Seeker and has not been altered. Pass the verdict object and its signature exactly as received. Returns status: valid | invalid_signature | expired | unknown_key — and nothing else, so the endpoint cannot be probed. Best for: an approval step that must prove the score was not authored by the agent; an auditor; another vendor's agent. The same check runs offline with the open-source libraries hs-verify (pip) and @hunter-seeker/verify (npm) against the public keys at hunter-seeker.net/.well-known/jwks.json. Common mistakes: re-serialising the verdict before verifying (pass the object, the verifier canonicalises it — RFC 8785); treating 'expired' as valid — an expired verdict is re-scored, never reused.",
        "tags": [
          "prove"
        ],
        "x-hs-cost": "free",
        "x-hs-agent-action": true,
        "x-mcp-annotations": {
          "title": "Verify a Verdict's signature (keyless)",
          "readOnlyHint": true,
          "destructiveHint": false,
          "idempotentHint": true,
          "openWorldHint": false
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "verdict": {
                    "$id": "https://hunter-seeker.net/schemas/verdict.json",
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "verdict_id": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "ranking",
                          "entity_score"
                        ]
                      },
                      "analysis_id": {
                        "type": "string",
                        "pattern": "^sk1_[0-9a-f]{32}$"
                      },
                      "model_ref": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "ranking_ref": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "engine_version": {
                        "type": "string"
                      },
                      "core_hash": {
                        "type": "string"
                      },
                      "contract_hash": {
                        "type": "string"
                      },
                      "tool_contract_version": {
                        "type": "string"
                      },
                      "dataset_content_hash": {
                        "type": "string"
                      },
                      "spec_hash": {
                        "type": "string"
                      },
                      "computed_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "issuer": {
                        "type": "string"
                      },
                      "on_behalf_of": {
                        "oneOf": [
                          {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "principal_id": {
                                "type": "string",
                                "minLength": 1
                              },
                              "principal_type": {
                                "type": "string",
                                "enum": [
                                  "user",
                                  "service"
                                ]
                              },
                              "source": {
                                "type": "string",
                                "enum": [
                                  "oauth",
                                  "obo",
                                  "key"
                                ]
                              }
                            },
                            "required": [
                              "principal_id",
                              "principal_type",
                              "source"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "agent": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "client_id": {
                            "type": "string"
                          },
                          "key_id": {
                            "type": "string"
                          }
                        }
                      },
                      "outcome": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "column": {
                            "type": "string"
                          },
                          "polarity": {
                            "type": "string",
                            "enum": [
                              "adverse",
                              "desirable",
                              "neutral"
                            ]
                          }
                        },
                        "required": [
                          "column",
                          "polarity"
                        ]
                      },
                      "subject_kind": {
                        "type": "string",
                        "enum": [
                          "person",
                          "org",
                          "object",
                          "event",
                          "other"
                        ]
                      },
                      "acknowledge_decision_support": {
                        "type": "boolean"
                      },
                      "trust": {
                        "type": "object"
                      },
                      "entities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "entity_id": {
                              "type": "string"
                            },
                            "score": {
                              "type": "number"
                            },
                            "band": {
                              "type": "string",
                              "enum": [
                                "act",
                                "escalate",
                                "refuse"
                              ]
                            },
                            "band_reason": {
                              "type": "string"
                            },
                            "max_autonomy": {
                              "type": "string",
                              "enum": [
                                "L0",
                                "L1",
                                "L2",
                                "L3",
                                "L4"
                              ]
                            },
                            "principal_reasons": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "feature_label": {
                                    "type": "string"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "enum": [
                                      "increase",
                                      "decrease",
                                      "change"
                                    ]
                                  },
                                  "magnitude": {
                                    "type": "string",
                                    "enum": [
                                      "substantial",
                                      "notable",
                                      "slight"
                                    ]
                                  },
                                  "likelihood_direction": {
                                    "type": "string",
                                    "enum": [
                                      "lower",
                                      "higher",
                                      "unchanged"
                                    ]
                                  },
                                  "association_not_causal": {
                                    "type": "boolean",
                                    "const": true
                                  }
                                },
                                "required": [
                                  "feature_label",
                                  "direction",
                                  "association_not_causal"
                                ]
                              }
                            }
                          },
                          "required": [
                            "entity_id",
                            "score",
                            "band",
                            "max_autonomy"
                          ]
                        }
                      },
                      "honest_empty": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "reasons": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ]
                      },
                      "provenance_class": {
                        "type": "string",
                        "const": "finding"
                      }
                    },
                    "required": [
                      "verdict_id",
                      "kind",
                      "analysis_id",
                      "engine_version",
                      "core_hash",
                      "computed_at",
                      "expires_at",
                      "issuer",
                      "outcome",
                      "entities",
                      "provenance_class"
                    ]
                  },
                  "signature": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "protected": {
                        "type": "string"
                      },
                      "signature": {
                        "type": "string"
                      },
                      "kid": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "protected",
                      "signature"
                    ]
                  }
                },
                "required": [
                  "verdict",
                  "signature"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "valid",
                        "invalid_signature",
                        "expired",
                        "unknown_key"
                      ]
                    },
                    "kid": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/report-outcome": {
      "post": {
        "operationId": "hs_report_outcome",
        "summary": "Report observed outcomes",
        "description": "Free; writes YOUR observed outcomes (never fires an action, never retrains). For entities scored under a model_ref, append what actually happened: outcome is a binary (0/1, true/false, yes/no); observed_at is when you observed it; event_id is your idempotency key (send the same id on retry and the row is written once). Outcomes are EVIDENCE for hs_action_evidence and drift signals for hs_drift_status; they never change the scorecard, the band, or the pattern — a refit is an explicit hs_rank_topk with refit_of. Free text is refused (422 outcome_malformed) so this ledger cannot become a transcript store. Best for: closing the loop after acting, so the engine can tell you whether acting worked. Common mistakes: inferring the outcome from the trace or the agent's own judgement — report the real-world binary you observed; sending prose.",
        "tags": [
          "close"
        ],
        "x-hs-cost": "free",
        "x-hs-agent-action": true,
        "x-mcp-annotations": {
          "title": "Report observed outcomes",
          "readOnlyHint": false,
          "destructiveHint": false,
          "idempotentHint": true,
          "openWorldHint": false
        },
        "security": [
          {
            "bearer": []
          },
          {
            "oauth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "model_ref": {
                    "type": "string",
                    "pattern": "^mr1_[0-9a-f]{32}$"
                  },
                  "outcomes": {
                    "type": "array",
                    "maxItems": 10000,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "entity_id": {
                          "type": "string"
                        },
                        "outcome": {
                          "type": [
                            "boolean",
                            "integer",
                            "string"
                          ]
                        },
                        "observed_at": {
                          "type": "string"
                        },
                        "event_id": {
                          "type": "string",
                          "maxLength": 128
                        }
                      },
                      "required": [
                        "entity_id",
                        "outcome",
                        "observed_at"
                      ]
                    }
                  }
                },
                "required": [
                  "model_ref",
                  "outcomes"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "written": {
                      "type": "integer"
                    },
                    "duplicates": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "written",
                    "duplicates"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Machine key hsk_live_… or hsk_test_… ; scopes read, run, write:outcomes, admin:keys"
      },
      "oauth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://hunter-seeker.net/oauth/authorize",
            "tokenUrl": "https://hunter-seeker.net/oauth/token",
            "scopes": {
              "read": "interrogate, score, verify",
              "run": "rank, refit, schedule",
              "write:outcomes": "report outcomes, attest actions"
            }
          }
        }
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          },
          "hs": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "remedy": {
                "type": "string"
              },
              "field": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "code",
              "remedy"
            ]
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "hs"
        ]
      },
      "Verdict": {
        "$id": "https://hunter-seeker.net/schemas/verdict.json",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "verdict_id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "ranking",
              "entity_score"
            ]
          },
          "analysis_id": {
            "type": "string",
            "pattern": "^sk1_[0-9a-f]{32}$"
          },
          "model_ref": {
            "type": [
              "string",
              "null"
            ]
          },
          "ranking_ref": {
            "type": [
              "string",
              "null"
            ]
          },
          "engine_version": {
            "type": "string"
          },
          "core_hash": {
            "type": "string"
          },
          "contract_hash": {
            "type": "string"
          },
          "tool_contract_version": {
            "type": "string"
          },
          "dataset_content_hash": {
            "type": "string"
          },
          "spec_hash": {
            "type": "string"
          },
          "computed_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "issuer": {
            "type": "string"
          },
          "on_behalf_of": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "principal_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "principal_type": {
                    "type": "string",
                    "enum": [
                      "user",
                      "service"
                    ]
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "oauth",
                      "obo",
                      "key"
                    ]
                  }
                },
                "required": [
                  "principal_id",
                  "principal_type",
                  "source"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "agent": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "client_id": {
                "type": "string"
              },
              "key_id": {
                "type": "string"
              }
            }
          },
          "outcome": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "column": {
                "type": "string"
              },
              "polarity": {
                "type": "string",
                "enum": [
                  "adverse",
                  "desirable",
                  "neutral"
                ]
              }
            },
            "required": [
              "column",
              "polarity"
            ]
          },
          "subject_kind": {
            "type": "string",
            "enum": [
              "person",
              "org",
              "object",
              "event",
              "other"
            ]
          },
          "acknowledge_decision_support": {
            "type": "boolean"
          },
          "trust": {
            "type": "object"
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "entity_id": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "band": {
                  "type": "string",
                  "enum": [
                    "act",
                    "escalate",
                    "refuse"
                  ]
                },
                "band_reason": {
                  "type": "string"
                },
                "max_autonomy": {
                  "type": "string",
                  "enum": [
                    "L0",
                    "L1",
                    "L2",
                    "L3",
                    "L4"
                  ]
                },
                "principal_reasons": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "feature_label": {
                        "type": "string"
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "increase",
                          "decrease",
                          "change"
                        ]
                      },
                      "magnitude": {
                        "type": "string",
                        "enum": [
                          "substantial",
                          "notable",
                          "slight"
                        ]
                      },
                      "likelihood_direction": {
                        "type": "string",
                        "enum": [
                          "lower",
                          "higher",
                          "unchanged"
                        ]
                      },
                      "association_not_causal": {
                        "type": "boolean",
                        "const": true
                      }
                    },
                    "required": [
                      "feature_label",
                      "direction",
                      "association_not_causal"
                    ]
                  }
                }
              },
              "required": [
                "entity_id",
                "score",
                "band",
                "max_autonomy"
              ]
            }
          },
          "honest_empty": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "reasons": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            ]
          },
          "provenance_class": {
            "type": "string",
            "const": "finding"
          }
        },
        "required": [
          "verdict_id",
          "kind",
          "analysis_id",
          "engine_version",
          "core_hash",
          "computed_at",
          "expires_at",
          "issuer",
          "outcome",
          "entities",
          "provenance_class"
        ]
      },
      "hs_describe_capabilities_input": {
        "type": "object",
        "properties": {}
      },
      "hs_describe_capabilities_output": {
        "type": "object",
        "properties": {
          "contract": {},
          "trust": {},
          "readings": {},
          "examples": {
            "type": "array",
            "items": {}
          },
          "limits": {},
          "provenance": {
            "type": "object",
            "properties": {
              "engine_version": {
                "type": "string"
              },
              "core_hash": {
                "type": "string"
              }
            },
            "required": [
              "engine_version",
              "core_hash"
            ],
            "additionalProperties": false,
            "description": "The engine build that produced these facts. Present on every response."
          }
        },
        "required": [
          "provenance"
        ],
        "additionalProperties": true
      },
      "hs_provide_dataset_input": {
        "type": "object",
        "properties": {
          "fetch_url": {
            "type": "string",
            "description": "Public https URL to retrieve the dataset from. Omit to receive an upload_url instead."
          },
          "name": {
            "type": "string",
            "maxLength": 120,
            "description": "Human-readable dataset name."
          },
          "direct_upload": {
            "type": "boolean",
            "description": "Direct-to-storage upload is now the DEFAULT (no size or row cap), so you rarely need this. Set false to instead receive a proxied upload_url, which normalizes a JSON body to CSV but is capped at the ~4.5MB serverless body limit. Ignored when fetch_url is present."
          }
        },
        "additionalProperties": false
      },
      "hs_provide_dataset_output": {
        "type": "object",
        "properties": {
          "dataset_id": {
            "type": "string",
            "description": "Pass this as data.dataset_id to hs_rank_topk."
          },
          "upload_url": {
            "type": "string",
            "description": "PUT the raw CSV/JSON bytes here before ranking."
          },
          "method": {
            "type": "string"
          },
          "expires_in": {
            "type": "number"
          },
          "next": {},
          "provenance": {
            "type": "object",
            "properties": {
              "engine_version": {
                "type": "string"
              },
              "core_hash": {
                "type": "string"
              }
            },
            "required": [
              "engine_version",
              "core_hash"
            ],
            "additionalProperties": false,
            "description": "The engine build that produced these facts. Present on every response."
          }
        },
        "required": [
          "provenance"
        ],
        "additionalProperties": true
      },
      "hs_rank_topk_input": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "rows": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "description": "Inline JSON rows (SYNCHRONOUS — the ranking returns immediately). Best for a few hundred rows: the data rides inside your tool-call payload, so your CLIENT's per-message budget (Claude Code ~25k tokens, Claude Desktop ~150k chars) usually binds well before the server ceiling (~4MB / 2000 rows / 64 columns). Each row is one entity observation. For anything medium or larger, use dataset_id / fetch_url / direct_upload."
              },
              "csv": {
                "type": "string",
                "description": "Inline CSV text — header row + data rows (SYNCHRONOUS). Same small-inline budget as rows; a convenience when you already hold CSV. For anything larger, use dataset_id / fetch_url / direct_upload."
              },
              "fetch_url": {
                "type": "string",
                "description": "Public https URL the SERVER fetches, parses, and ranks in ONE async call (collapses hs_provide_dataset + hs_rank_topk). Returns { status:\"pending\", task_id } — poll hs_poll_task. Internal/private/non-https URLs are refused."
              },
              "dataset_id": {
                "type": "string",
                "description": "A dataset already registered via hs_provide_dataset (upload or fetch), for larger data. ASYNC — returns { status:\"pending\", task_id }; poll hs_poll_task."
              },
              "direct_upload": {
                "type": "boolean",
                "const": true,
                "description": "Set true to receive a direct-to-storage PUT URL (upload_url + dataset_id) for a large dataset (~1M rows), bypassing the inline/proxy caps. NO ranking starts: PUT your CSV, then call hs_rank_topk again with the returned dataset_id."
              }
            },
            "additionalProperties": false,
            "description": "Exactly one data source: rows or csv (small, inline, synchronous) | fetch_url or dataset_id (async, poll hs_poll_task) | direct_upload:true (get an upload URL — no run starts)."
          },
          "outcome_column": {
            "type": "string",
            "minLength": 1,
            "description": "The column holding the yes/no result to learn to predict. Must be known historically - not derived after the outcome (that is leakage)."
          },
          "entity_column": {
            "type": "string",
            "minLength": 1,
            "description": "What each row represents, e.g. customer_id, machine_id, application_id."
          },
          "subject_kind": {
            "type": "string",
            "enum": [
              "person",
              "org",
              "object",
              "event",
              "other"
            ],
            "description": "What kind of thing each entity is. \"person\" enables decision-support safeguards."
          },
          "horizon": {
            "type": "string",
            "description": "The time window the prediction is about, e.g. \"30 days\"."
          },
          "page": {
            "type": "object",
            "properties": {
              "k": {
                "type": "number",
                "description": "How many top entities to return (default 20, max 100)."
              },
              "offset": {
                "type": "number"
              }
            },
            "additionalProperties": false
          },
          "acknowledge_decision_support": {
            "type": "boolean",
            "description": "Required true when subject_kind is \"person\" and the outcome is in a regulated domain (hiring, credit, education, insurance, benefits, justice). Confirms results are decision-support with human review."
          },
          "idempotency_key": {
            "type": "string",
            "maxLength": 120,
            "description": "For dataset_id runs: reuse to dedupe retried submissions onto the same task."
          },
          "reading": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "minLength": 1,
                "description": "A kind id from hs_describe_capabilities → readings.kinds (e.g. \"sequential\")."
              },
              "version": {
                "type": "number",
                "description": "The kind version, from the same list."
              },
              "roles": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "description": "This kind’s role names mapped to YOUR column names, e.g. {\"identifier\":\"customer_id\",\"time_axis\":\"ts\",\"event_type\":\"event\"}. Nothing is inferred — every required_role must appear."
              },
              "params": {
                "type": "object",
                "additionalProperties": {},
                "description": "Validated ENGINE-side against the kind’s param_schema. A bad value returns a named 422 and the run is refunded."
              },
              "label": {
                "type": "object",
                "additionalProperties": {},
                "description": "The outcome predicate, as data, e.g. {\"kind\":\"lapsed\"}. Your meaning, never ours."
              },
              "as_of": {
                "type": "string",
                "description": "ISO-8601 cutoff. Omit and the engine computes it from your data and RETURNS it."
              }
            },
            "required": [
              "kind",
              "version",
              "roles"
            ],
            "additionalProperties": false,
            "description": "Reduce an EVENT table to one row per entity BEFORE ranking. Omit when your rows are already one per entity."
          }
        },
        "required": [
          "data",
          "outcome_column",
          "entity_column",
          "subject_kind"
        ],
        "additionalProperties": false
      },
      "hs_rank_topk_output": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string",
            "description": "Reuse this for the free drill-in tools for one hour."
          },
          "model_ref": {
            "type": [
              "string",
              "null"
            ],
            "description": "The fitted scorecard behind this ranking. Pass it to hs_score_entity to decide about a single entity. NULL means the engine minted none for this run — re-run rather than guessing a ref."
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "entity_id": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "tier": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "entity_id",
                "score",
                "tier"
              ],
              "additionalProperties": true
            },
            "description": "The ranked page, highest likelihood first."
          },
          "top_decile_lift": {
            "type": [
              "number",
              "null"
            ]
          },
          "top_factors": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "calibration": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "coefficient": {
                    "type": "number"
                  }
                },
                "required": [
                  "coefficient"
                ],
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ]
          },
          "validation": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "scheme": {
                    "type": "string"
                  },
                  "split_fraction": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "n_train": {
                    "type": "number"
                  },
                  "n_holdout": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "n_reserved_test": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "scheme"
                ],
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "description": "How the model was validated. scheme \"none\" means no rows could be held back, and n_holdout is then null (not 0) with a reason."
          },
          "gate_verdicts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The engine-recorded gate decisions behind this answer."
          },
          "leak_guard": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "column": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "column",
                    "reason"
                  ],
                  "additionalProperties": true
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Columns quarantined as likely target leakage, each with a plain-English reason. NULL means there was no finding (honest-null) — never that leakage was checked and found clean."
          },
          "entity_replication": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "n_rows": {
                    "type": "number"
                  },
                  "n_entities": {
                    "type": "number"
                  },
                  "median_rows_per_entity": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "share_repeated": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "scored_as": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "n_rows",
                  "n_entities",
                  "median_rows_per_entity",
                  "share_repeated",
                  "scored_as"
                ],
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "description": "The SHAPE of the data behind this ranking. n_rows far above n_entities means the same entity sat on many rows — which leak_guard cannot tell you, because it catches a leaky COLUMN, not a leaky SPLIT."
          },
          "page": {
            "type": "object",
            "properties": {
              "k": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "returned": {
                "type": "number"
              },
              "total_ranked": {
                "type": "number"
              },
              "next_offset": {
                "type": "number"
              },
              "clamped": {
                "type": "boolean"
              }
            },
            "required": [
              "k",
              "offset",
              "returned",
              "total_ranked"
            ],
            "additionalProperties": true
          },
          "next": {
            "description": "What you can do with this ranking, and which of those cost nothing."
          },
          "leak_warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Local heuristic pre-flags of obviously post-outcome column names. Not a guarantee, and not a substitute for leak_guard."
          },
          "disclaimer": {
            "type": "string",
            "description": "Present on an acknowledged regulated-domain run. Surface it to the user."
          },
          "reading": {},
          "result": {
            "type": "string",
            "const": "none",
            "description": "Present and \"none\" when the data did not clear the lift bar. This is a real answer, not a failure: relay the reasons, do not retry."
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Why nothing cleared the bar."
          },
          "retry": {
            "type": "string",
            "const": "unproductive"
          },
          "guidance": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "pending",
            "description": "The run has not finished. Poll hs_poll_task after retry_after_ms; do not tight-loop."
          },
          "task_id": {
            "type": "string"
          },
          "retry_after_ms": {
            "type": "number"
          },
          "deduped": {
            "type": "boolean",
            "description": "An identical submit was already in flight; this is that same task, not a second run."
          },
          "poll": {
            "type": "string"
          },
          "status_url": {
            "type": "string",
            "description": "Short-TTL signed link to a live status page a human can open."
          },
          "stage": {
            "description": "Leak-firewalled progress — never a partial ranking."
          },
          "facts_so_far": {},
          "upload_url": {
            "type": "string",
            "description": "Returned when data.direct_upload was requested; no run was started."
          },
          "dataset_id": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "expires_in": {
            "type": "number"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "engine_version": {
                "type": "string"
              },
              "core_hash": {
                "type": "string"
              }
            },
            "required": [
              "engine_version",
              "core_hash"
            ],
            "additionalProperties": false,
            "description": "The engine build that produced these facts. Present on every response."
          }
        },
        "required": [
          "provenance"
        ],
        "additionalProperties": true
      },
      "hs_poll_task_input": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "minLength": 1,
            "description": "Task id returned by hs_rank_topk (dataset mode)."
          }
        },
        "required": [
          "task_id"
        ],
        "additionalProperties": false
      },
      "hs_poll_task_output": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string",
            "description": "Reuse this for the free drill-in tools for one hour."
          },
          "model_ref": {
            "type": [
              "string",
              "null"
            ],
            "description": "The fitted scorecard behind this ranking. Pass it to hs_score_entity to decide about a single entity. NULL means the engine minted none for this run — re-run rather than guessing a ref."
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "entity_id": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "tier": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "entity_id",
                "score",
                "tier"
              ],
              "additionalProperties": true
            },
            "description": "The ranked page, highest likelihood first."
          },
          "top_decile_lift": {
            "type": [
              "number",
              "null"
            ]
          },
          "top_factors": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "calibration": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "coefficient": {
                    "type": "number"
                  }
                },
                "required": [
                  "coefficient"
                ],
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ]
          },
          "validation": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "scheme": {
                    "type": "string"
                  },
                  "split_fraction": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "n_train": {
                    "type": "number"
                  },
                  "n_holdout": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "n_reserved_test": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "scheme"
                ],
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "description": "How the model was validated. scheme \"none\" means no rows could be held back, and n_holdout is then null (not 0) with a reason."
          },
          "gate_verdicts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The engine-recorded gate decisions behind this answer."
          },
          "leak_guard": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "column": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "column",
                    "reason"
                  ],
                  "additionalProperties": true
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Columns quarantined as likely target leakage, each with a plain-English reason. NULL means there was no finding (honest-null) — never that leakage was checked and found clean."
          },
          "entity_replication": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "n_rows": {
                    "type": "number"
                  },
                  "n_entities": {
                    "type": "number"
                  },
                  "median_rows_per_entity": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "share_repeated": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "scored_as": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "n_rows",
                  "n_entities",
                  "median_rows_per_entity",
                  "share_repeated",
                  "scored_as"
                ],
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "description": "The SHAPE of the data behind this ranking. n_rows far above n_entities means the same entity sat on many rows — which leak_guard cannot tell you, because it catches a leaky COLUMN, not a leaky SPLIT."
          },
          "page": {
            "type": "object",
            "properties": {
              "k": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "returned": {
                "type": "number"
              },
              "total_ranked": {
                "type": "number"
              },
              "next_offset": {
                "type": "number"
              },
              "clamped": {
                "type": "boolean"
              }
            },
            "required": [
              "k",
              "offset",
              "returned",
              "total_ranked"
            ],
            "additionalProperties": true
          },
          "next": {
            "description": "What you can do with this ranking, and which of those cost nothing."
          },
          "leak_warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Local heuristic pre-flags of obviously post-outcome column names. Not a guarantee, and not a substitute for leak_guard."
          },
          "disclaimer": {
            "type": "string",
            "description": "Present on an acknowledged regulated-domain run. Surface it to the user."
          },
          "reading": {},
          "result": {
            "type": "string",
            "const": "none",
            "description": "Present and \"none\" when the data did not clear the lift bar. This is a real answer, not a failure: relay the reasons, do not retry."
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Why nothing cleared the bar."
          },
          "retry": {
            "type": "string",
            "const": "unproductive"
          },
          "guidance": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "pending",
            "description": "The run has not finished. Poll hs_poll_task after retry_after_ms; do not tight-loop."
          },
          "task_id": {
            "type": "string"
          },
          "retry_after_ms": {
            "type": "number"
          },
          "deduped": {
            "type": "boolean",
            "description": "An identical submit was already in flight; this is that same task, not a second run."
          },
          "poll": {
            "type": "string"
          },
          "status_url": {
            "type": "string",
            "description": "Short-TTL signed link to a live status page a human can open."
          },
          "stage": {
            "description": "Leak-firewalled progress — never a partial ranking."
          },
          "facts_so_far": {},
          "provenance": {
            "type": "object",
            "properties": {
              "engine_version": {
                "type": "string"
              },
              "core_hash": {
                "type": "string"
              }
            },
            "required": [
              "engine_version",
              "core_hash"
            ],
            "additionalProperties": false,
            "description": "The engine build that produced these facts. Present on every response."
          }
        },
        "required": [
          "provenance"
        ],
        "additionalProperties": true
      },
      "hs_model_quality_input": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string",
            "minLength": 1,
            "description": "The ranking_ref from a prior hs_rank_topk result."
          }
        },
        "required": [
          "ranking_ref"
        ],
        "additionalProperties": false
      },
      "hs_model_quality_output": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string"
          },
          "top_decile_lift": {
            "type": [
              "number",
              "null"
            ]
          },
          "calibration_error": {
            "type": [
              "number",
              "null"
            ]
          },
          "validation": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "scheme": {
                    "type": "string"
                  },
                  "split_fraction": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "n_train": {
                    "type": "number"
                  },
                  "n_holdout": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "n_reserved_test": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "scheme"
                ],
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "description": "How the model was validated. scheme \"none\" means no rows could be held back, and n_holdout is then null (not 0) with a reason."
          },
          "lift_curve": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "decile": {
                      "type": "number"
                    },
                    "cum_lift": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "decile",
                    "cum_lift"
                  ],
                  "additionalProperties": true
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Relative cumulative lift per decile. Null when the engine reported no curve."
          },
          "leak_guard": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "column": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "column",
                    "reason"
                  ],
                  "additionalProperties": true
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Columns quarantined as likely target leakage, each with a plain-English reason. NULL means there was no finding (honest-null) — never that leakage was checked and found clean."
          },
          "gate_verdicts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The engine-recorded gate decisions behind this answer."
          },
          "provenance": {
            "type": "object",
            "properties": {
              "engine_version": {
                "type": "string"
              },
              "core_hash": {
                "type": "string"
              }
            },
            "required": [
              "engine_version",
              "core_hash"
            ],
            "additionalProperties": false,
            "description": "The engine build that produced these facts. Present on every response."
          }
        },
        "required": [
          "provenance"
        ],
        "additionalProperties": true
      },
      "hs_explain_drivers_input": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string",
            "minLength": 1,
            "description": "The ranking_ref from a prior hs_rank_topk result."
          }
        },
        "required": [
          "ranking_ref"
        ],
        "additionalProperties": false
      },
      "hs_explain_drivers_output": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string"
          },
          "association_not_causal": {
            "type": "boolean",
            "const": true
          },
          "framing": {
            "type": "string"
          },
          "pattern": {
            "type": "object",
            "properties": {
              "found": {
                "type": "boolean"
              },
              "conditions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "feature": {
                      "type": "string"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "higher",
                        "lower",
                        "different"
                      ]
                    },
                    "threshold": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "operator": {
                      "type": "string",
                      "description": "Build your filter from THIS and missing_values, never from the direction word — the boundary is asymmetric."
                    },
                    "missing_values": {
                      "type": "string"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "category_match": {
                      "type": "string",
                      "enum": [
                        "is_one_of",
                        "is_not_one_of"
                      ],
                      "description": "Read literally and never drop the negation: \"is_not_one_of\" names the opposite cohort from \"is_one_of\"."
                    }
                  },
                  "required": [
                    "feature",
                    "direction",
                    "threshold"
                  ],
                  "additionalProperties": true
                }
              },
              "coverage": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "lift": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "found"
            ],
            "additionalProperties": true,
            "description": "ONE joint pattern. Read the conditions as a single combination; never rank them or report one alone."
          },
          "provenance": {
            "type": "object",
            "properties": {
              "engine_version": {
                "type": "string"
              },
              "core_hash": {
                "type": "string"
              }
            },
            "required": [
              "engine_version",
              "core_hash"
            ],
            "additionalProperties": false,
            "description": "The engine build that produced these facts. Present on every response."
          }
        },
        "required": [
          "provenance"
        ],
        "additionalProperties": true
      },
      "hs_explain_levers_input": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string",
            "minLength": 1,
            "description": "The ranking_ref from a prior hs_rank_topk result."
          },
          "entity_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 20,
            "description": "Entities from that ranking to explain (max 20 per call)."
          }
        },
        "required": [
          "ranking_ref",
          "entity_ids"
        ],
        "additionalProperties": false
      },
      "hs_explain_levers_output": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string"
          },
          "association_not_causal": {
            "type": "boolean",
            "const": true,
            "description": "Always true. Levers are what the model associates with a different outcome, never proven interventions."
          },
          "framing": {
            "type": "string"
          },
          "levers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "entity_id": {
                  "type": "string"
                },
                "changes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "feature": {
                        "type": "string"
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "increase",
                          "decrease",
                          "change"
                        ]
                      }
                    },
                    "required": [
                      "feature",
                      "direction"
                    ],
                    "additionalProperties": true
                  }
                },
                "magnitude": {
                  "type": "string",
                  "enum": [
                    "substantial",
                    "notable",
                    "slight"
                  ]
                },
                "likelihood_direction": {
                  "type": "string",
                  "enum": [
                    "lower",
                    "higher",
                    "unchanged"
                  ],
                  "description": "Which way this change moves PREDICTED LIKELIHOOD. A fact, not a recommendation, and NOT fixed to \"lower\" — read it per lever."
                },
                "association_not_causal": {
                  "type": "boolean",
                  "const": true
                }
              },
              "required": [
                "entity_id",
                "changes",
                "magnitude",
                "likelihood_direction",
                "association_not_causal"
              ],
              "additionalProperties": true
            }
          },
          "reason": {
            "type": "string",
            "description": "Present only when levers is empty, saying which honest-empty case this is."
          },
          "provenance": {
            "type": "object",
            "properties": {
              "engine_version": {
                "type": "string"
              },
              "core_hash": {
                "type": "string"
              }
            },
            "required": [
              "engine_version",
              "core_hash"
            ],
            "additionalProperties": false,
            "description": "The engine build that produced these facts. Present on every response."
          }
        },
        "required": [
          "provenance"
        ],
        "additionalProperties": true
      },
      "hs_context_brief_input": {
        "type": "object",
        "properties": {
          "ranking_ref": {
            "type": "string",
            "minLength": 1,
            "description": "The ranking_ref from a prior hs_rank_topk result."
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "markdown"
            ],
            "description": "Output format. Both carry identical numbers; markdown is prose for a human or for a prompt. Default json."
          }
        },
        "required": [
          "ranking_ref"
        ],
        "additionalProperties": false
      },
      "hs_context_brief_output": {
        "type": "object",
        "properties": {
          "schema": {
            "type": "string",
            "const": "hs.brief.v1"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "engine_version": {
                "type": "string"
              },
              "core_hash": {
                "type": "string"
              },
              "ranking_ref": {
                "type": "string"
              },
              "series_key": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "computed_at": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "engine_version",
              "core_hash",
              "ranking_ref",
              "series_key",
              "computed_at"
            ],
            "additionalProperties": false
          },
          "outcome": {
            "type": "object",
            "properties": {
              "label": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "label"
            ],
            "additionalProperties": false
          },
          "trust": {
            "type": "object",
            "properties": {
              "top_decile_lift": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "calibration_error": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "validation": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "scheme": {
                        "type": "string"
                      },
                      "split_fraction": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "n_train": {
                        "type": "number"
                      },
                      "n_holdout": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "n_reserved_test": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "reason": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "scheme",
                      "split_fraction",
                      "n_train",
                      "n_holdout",
                      "n_reserved_test"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "leak_guard": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "column": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "column",
                        "reason"
                      ],
                      "additionalProperties": false
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "honest_empty": {
                "type": "boolean"
              }
            },
            "required": [
              "top_decile_lift",
              "calibration_error",
              "validation",
              "leak_guard",
              "honest_empty"
            ],
            "additionalProperties": false
          },
          "driver_group": {
            "type": "object",
            "properties": {
              "interpretation": {
                "type": "string",
                "const": "association_not_causal"
              },
              "evaluate_as_a_unit": {
                "type": "boolean",
                "const": true
              },
              "drivers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "higher",
                        "lower",
                        "different"
                      ]
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "category_match": {
                      "type": "string",
                      "enum": [
                        "is_one_of",
                        "is_not_one_of"
                      ]
                    }
                  },
                  "required": [
                    "label",
                    "direction"
                  ],
                  "additionalProperties": false
                }
              },
              "guidance": {
                "type": "string"
              }
            },
            "required": [
              "interpretation",
              "evaluate_as_a_unit",
              "drivers",
              "guidance"
            ],
            "additionalProperties": false
          },
          "limits": {
            "type": "object",
            "properties": {
              "decision_support_only": {
                "type": "boolean",
                "const": true
              },
              "regulated_domains": {
                "type": "string"
              }
            },
            "required": [
              "decision_support_only",
              "regulated_domains"
            ],
            "additionalProperties": false
          },
          "honest_empty_note": {
            "type": "string"
          }
        },
        "required": [
          "schema",
          "provenance",
          "outcome",
          "trust",
          "driver_group",
          "limits"
        ],
        "additionalProperties": false
      }
    }
  }
}
